html {
    scroll-behavior: smooth;
}

body {
    min-height: 600px;
    min-width: 600px;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background-color: #F5F5F5;
    --text-color: #606060;
    --hover-color: #E8E8E8;
    --frog-url-background: #E8E8E8;
    --copy-background: #F5F5F5;
    --shadow-color: black;
}

.dark {
    --background-color: #202020;
    --text-color: #F5F5F5;
    --hover-color: #1f212e;
    --frog-url-background: #282828;
    --copy-background: #303030;
    --shadow-color: #404040;
}

#dark-mode-button {
    padding: 6px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--text-color);
    background-color: var(--frog-url-background);
    border: 1px solid grey;
    border-radius: 5px;
}

#dark-mode-button:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-block-start: 0;
    color: var(--text-color)
}

#title {
    font-size: 50px;
    color: rgb(134, 190, 2);
    margin-top: 30px;
}

#frogimg {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#frogimg img {
    max-height: 350px;
    box-shadow: 10px 10px 0 var(--shadow-color);
}

#frogimg img:hover {cursor: pointer;}

#fullscreen-image-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

    padding: 0;
    justify-content: center;
    align-items: center;
}

#fullscreen-image {
    height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#message {
    color: var(--text-color);
    text-align: center;
}

#frog-submit {
    margin-top: 20px;
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    text-align: center;
}

.submit {
    background-color: orange;
    padding: 0;
    border: none;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;

    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(230, 150, 15);
}

.not-a-frog {
    color: white;
    background-color: rgb(230, 30, 30);
    padding: 0;
    border: none;
    height: 30px;
    padding: 5px 30px;
    text-align: center;

    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;   
}

.not-a-frog:hover {
    background-color: rgb(190, 30, 30)
}

.copy-url {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#frog-url {
    color: var(--text-color);
    background-color: var(--frog-url-background);
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 26px;
    padding-left: 8px;
    border: solid grey;
    border-width: 1px 0 1px 1px;
}

#frog-url:hover {
    cursor: text;
}

input:focus{
    outline: none;
}

#copy-button {
    color: var(--text-color);
    background-color: var(--copy-background);
    height: 30px;
    border: 1px solid grey;
    height: 30px;
    padding: 0 8px;
    border-radius: 0 5px 5px 0;
}

#copy-button-no-hover {
    color: var(--text-color);
    background-color: var(--background-color);
    height: 30px;
    border: 1px solid grey;
    height: 30px;
    padding: 0 8px;
    border-radius: 0 5px 5px 0;
}

#copy-button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

#ranking-button {
    margin: 20px;
    padding: 5px 50px;
}

#ranking-button:hover {cursor: pointer;}

#ranking-container {
    display: none;
}

#ranking-title {
    display: none;
    margin-top: 20px;
    font-size: 40px;
}

.rankings {
    max-width: 1000px;
    margin: 0 0 40px 0;
    text-align: center;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.ranked-frog {
    padding: 20px;
}

.rankings img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.rankings p {
    color: var(--text-color);
    margin: 6px;
}

.rankings img:hover {opacity: 70%;}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.footer img {
    max-width: 40px;
}
