<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <i id="change-mode" class="bi bi-sun-fill"></i>

        <div class="content">
            <h1 class="title">Rate My Frogs</h1>
            <img class="frog-img" src="{{ frog.url }}">
            <form action="/rate" method="post" enctype="multipart/form-data">
                <div class="row">
                    <input type="hidden" name="url" value={{ frog.url }}>
                    {% for i in range(1, 6) %}
                        <input class="submit" type="submit" 
                               name="rating" value="{{ i }}"/>
                    {% endfor %}
                </div>
                <div class="row">
                    <input class="submit not-a-frog" type="submit" 
                               name="rating" value="not a frog"/>
                </div>
            </form>
            <div class="copy">
                <i id="copy-button" class="bi bi-clipboard"></i>
                <p id="copy-url">{{ frog.url }}</p>
            </div>

            <div class="popular">
                <img class="frog-img" src="{{ most_popular }}">
                <h1 class="title">#1</h1>
            </div>
        </div>

        <script src="../static/dark-mode.js"></script>
    </body>
</html>
