<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'ratings/rmf.css' %}">
    </head>

    <body onload="loadMode();">
        <button id="dark-mode-button" onclick="darkMode();"></button>
        <div id="fullscreen-image-container" onclick="enlarge();">
            <span class="close">&times;</span>
            <img id="fullscreen-image" src={{ url }}>
        </div>

        <h1 id="title">Rate My Frogs</h1>
        
        {% if url == "" %}
	        <p id="message">Thank you for completing your daily frog-rating quota!</p>
        {% endif %}

        <div id="frogimg">
        {% if url != "" %}
		    <img id="image" src={{ url }} onclick="enlarge();">
        {% endif %}
        </div>

        {% if url != "" %}
		<form id="frog-submit" action="/" method="post">
        <div class="copy-url">
            <input id="frog-url" type="text" readonly="readonly" value={{ url }}>
            <input id="copy-button" type="button" 
                value="copy to clipboard", onclick="copyURL();"
                title="copied">
        </div>
        <div class="ratings">
			{% csrf_token %}
			{{ form_ratefrog }}
			<input class="submit" type="hidden" name="url" value={{ url }}>
			<input class="submit" type="submit" name="1" value="1"/>
			<input class="submit" type="submit" name="2" value="2"/>
			<input class="submit" type="submit" name="3" value="3"/>
			<input class="submit" type="submit" name="4" value="4"/>
			<input class="submit" type="submit" name="5" value="5"/>
        </div>

        <div class="ratings">
            <input class="not-a-frog" type="submit" name="0" value="not a frog">
        </div>
		</form>
        {% endif %}

        <div class="ratings">
            <button id="ranking-button" onclick="showRankings();">show rankings</button>
        </div>

        <h1 id="ranking-title">Top 10 Frogs</h1>
        
        <div id="ranking-container" class="ratings">
        <div class="rankings">
            {% for frog in top_frogs %}
            <div class="ranked-frog">
                <a href={{ frog.url }} target="_blank"><img src={{ frog.url }}></a></br>
                <caption>{{ frog.title }}</caption>
                <p>{{ frog.avg }}</p>
            </div>
            {% endfor %}

        </div>
        </div>

        <script src="{% static 'ratings/rmf.js' %}"></script>
    </body>
</html>
