<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'ratings/rmf.css' %}">
    </head>

    <body>
        <h1 id="title">Rate My Frogs</h1>
        <div id="frogimg">
            <img id="image" src="https://static.scientificamerican.com/sciam/cache/file/41DF7DA0-EE58-4259-AA815A390FB37C55_source.jpg">
        </div>

        <div id="ratings">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
        </div>

    </body>
</html>
