<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'ratings/rmf.css' %}">
    </head>

    <body>
        <h1 id="title">Rate My Frogs</h1>
        <div id="frogimg">
		<img id="image" src={{ frog }}>
        </div>

        <div id="ratings">
		<form action="/" method="post">
			{% csrf_token %}
			{{ form_ratefrog }}
			<input id="submit" type="hidden" name="url" value={{ frog }}>
			<input id="submit" type="submit" name="1" value="1"/>
			<input id="submit" type="submit" name="2" value="2"/>
			<input id="submit" type="submit" name="3" value="3"/>
			<input id="submit" type="submit" name="4" value="4"/>
			<input id="submit" type="submit" name="5" value="5"/>
		</form>
        </div>

    </body>
</html>
